<div class="container table-container">
  <table class="table is-striped">
    <tbody>
      <tr>
        <th>Venmo Handle</th>
        <th>Description</th>
        <th>Price</th
      </tr>
      {{#each billItems}}
      <tr>
        <td class="item-description-id">{{name}}</td>
        <td>{{currency price}}</td>
        <td>{{quantity}}</td>
        <td>{{currency totalSales}}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>