<section class="section select-customers">
  <div class="container">
    <h1 class="title">
      let's get started
    </h1>
    <h2>
      Select the number of customers that will split the bill.
    </h2>
    <a class="button" href="split-bill.html">2 Customers</a><br>
    <a class="button" href="split-bill.html">3 Customers</a><br>
    <a class="button" href="split-bill.html">4 Customers</a><br>

  </div>
</section>