<section class="section select-customers">
  <div class="container">
    <h1 class="title">
      let's get started
    </h1>
    <h2>
      Enter the Bill ID
    </h2>
    <select name="billID" id="billID" placeholder="select Bill ID">
    {{#each billIDs}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>
    <h2>
      Select the number of customers that will split the bill.
    </h2>
    <a class="button customer-button" value="2">2 Customers</a><br>
    <a class="button customer-button" value="3">3 Customers</a><br>
    <a class="button customer-button" value="4">4 Customers</a><br>

  </div>
</section>

<script src="./assets/js/index.js"></script>