<section class="section select-customers">
  <div class="container">
    <h1 class="title">
      Reporting on Users
    </h1>
    <h2>
      Please Enter Venmo Handle Below
    </h2>
    <input type="text" name="venmoHandle" id="venmoHandle"></input>
    <h2>
        
    </h2>
    <a class="button venmo-button" id="handle-button" value="handle">Run Report</a><br>

  </div>
</section>

<script src="./assets/js/venmo.js"></script>